html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}
.cards-container--slider {
  justify-content: center;
}
.tajetas-container {
  display: flex;
  max-width: 978px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px auto;
}
.main--tables-container {
  display: flex;
  width: 930px;
  margin: 0 auto;
}
.bitcoin--img-container {
  background-attachment: fixed;
}
