:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --white: #fff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
  width: 15rem;
  height: 2.4rem;
  margin-top: 6rem;
  align-self: center;
}
.header--title-container {
  width: 90%;
  min-width: 28.8rem;
  max-width: 90rem;
  height: 21.8rem;
  margin-top: 4rem;
  text-align: center;
  align-self: center;
}
.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--white);
}
.header--title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header--title-container .header--button {
  position: absolute;
  left: calc(50% - 116px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /* sombras */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("./assets/icons/down-arrow.svg");
}
main {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--off-white);
}
.main--exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.background--img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("./assets/img/Bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-exchange-container--title h2 {
  font-size: 2.4rem;
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main-exchange-container--title p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}
.main--currency-table,
.main--commissions-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
}
.currency--table-title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
}
.currency--table-container,
.commissions--table-container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
  margin-top: 10px;
}
.currency--table-container table,
.commissions--table-container table {
  width: 100%;
  height: 100%;
}
.currency--table-container td,
.commissions--table-container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--white);
}
.currency--table-container .table__top-left,
.commissions--table-container .table__top-left {
  border-radius: 15px 0 0 0;
}
.currency--table-container .table__bottom-left,
.commissions--table-container .table__bottom-left {
  border-radius: 0 0 0 15px;
}
.currency--table-container .table__top-right,
.commissions--table-container .table__top-right {
  border-radius: 0 15px 0 0;
}
.currency--table-container .table__bottom-right,
.commissions--table-container .table__bottom-right {
  border-radius: 0 0 15px 0;
}
.currency--table-container .table__right,
.commissions--table-container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}
.table__right .down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  background-image: url(./assets/icons/trending-down.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.table__right .rise {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  background-image: url(./assets/icons/trending-up.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
/*Table Commissios Title*/
.commissions--table-title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--secondary-blue);
}
.date--button-orange {
  width: 173px;
  min-width: 173px;
  max-width: 288px;
  height: 31px;
  margin: 0 auto;
  margin-top: 14px;
  border-radius: 8px;
  background-color: var(--soft-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
    left: calc(50% - 86.5px); */
}
.date--button-blue {
  width: 173px;
  min-width: 173px;
  max-width: 288px;
  height: 31px;
  margin-top: 14px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: var(--soft-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
    left: calc(50% - 86.5px); */
}
.main--product-detail {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--warm-black);
  padding-bottom: 20px;
}
.papita {
  display: inline-block;
  width: 40px;
  height: 24px;
  background-image: url(./assets/icons/batata.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -12px;
  left: calc(50% - 20px);
}
.tarjetas--text-container {
  width: 90%;
  min-width: 320px;
  height: 94px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin: 0 auto;
}
.tarjetas--text-container h2 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--white);
}
.tarjetas--text-container p {
  font-weight: 500;
  margin-top: 20px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080;
}
.tajetas-container {
  width: 100%;
  min-width: 288px;
  height: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column; /*probar despues wrap*/
}
.tarjetas {
  width: 90%;
  max-width: 465px;
  min-height: 152px;
  border-radius: 4px;
  background-color: var(--black);
  margin: 10px auto;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.tarjetas-clock {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(./assets/icons/clock.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.tarjetas-eye {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(./assets/icons/eye.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.tarjetas-dollar {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(./assets/icons/dollar-sign.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.tarjetas-check {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(./assets/icons/check-circle.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.tarjetas-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: var(--white);
  margin-top: 10px;
}
.tarjetas-text {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: #808080;
  margin-top: 10px;
}
.bitcoin--img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url(./assets/img/bitcoinbaby2x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.bitcoin--img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--white);
}
.main-plans {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 30px 0;
  background-color: var(--off-white);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.plans--title h2 {
  width: 90%;
  height: auto;
  margin: 0 auto;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warm-black);
}
.plans--title p {
  width: 90%;
  height: auto;
  margin: 15px auto;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}
.cards-container--slider {
  width: 100%;
  min-width: 320px;
  height: auto;
}
.plan-card {
  width: 60%;
  scroll-snap-align: center;
  min-width: 180px;
  max-width: 300px;
  height: 247px;
  margin: 30px auto 5px auto;
  background-color: var(--white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 8px;
}
/* Planes */
.recomended {
  width: 70%;
  height: 31px;
  margin: 0 auto;
  padding: 9px 0;
  position: relative;
  top: -15px;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.4rem;
  border-radius: 8px;
  color: var(--white);
  background-color: var(--bitcoin-orange);
}
.basic {
  width: 70%;
  height: 31px;
  margin: 0 auto;
  padding: 9px 0;
  position: relative;
  top: -15px;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.4rem;
  border-radius: 8px;
  color: var(--white);
  background-color: var(--secondary-blue);
}
.premium {
  width: 70%;
  height: 31px;
  margin: 0 auto;
  padding: 9px 0;
  position: relative;
  top: -15px;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.4rem;
  border-radius: 8px;
  color: var(--black);
  background-color: var(--grey);
}
.card-title {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: bold;
  color: black;
}
.card-body .dolarito {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: #363636;
  vertical-align: 25px;
}
.price {
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 6.2rem;
}
.card-saving {
  width: 90%;
  margin: 12.5px auto;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 500;
  color: #757575;
}
.card-ca {
  width: 80%;
  height: 48px;
  margin-top: 12.5px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  background-color: #faf8f7;
  border: var(--bitcoin-orange) solid;
  border-radius: 4px;
  border-width: 2px;
  color: var(--black);
}
.card-ca span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(./assets/icons/orange-right-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  vertical-align: -5px;
}
.plan-card-premium {
  width: 60%;
  scroll-snap-align: center;
  min-width: 180px;
  max-width: 300px;
  height: 247px;
  margin: 30px auto 5px auto;
  background-color: var(--warm-black);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 8px;
}
.card-title-premium {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: bold;
  color: var(--white);
}
.card-body-premium .dolarito {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: var(--white);
  vertical-align: 25px;
}
.price-premium {
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 6.2rem;
  color: var(--white);
}
.card-saving-premium {
  width: 90%;
  margin: 12.5px auto;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 500;
  color: #757575;
}
.card-ca-premium {
  width: 80%;
  height: 48px;
  margin-top: 12.5px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  background-color: var(--black);
  border: var(--bitcoin-orange) solid;
  border-radius: 4px;
  border-width: 2px;
  color: var(--off-white);
}
.card-ca-premium span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(./assets/icons/orange-right-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  vertical-align: -5px;
}
/* Scroll horizontal de las tarjetas */
.cards-container--slider {
  display: flex;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  gap: 30px;
}
.cards-container--slider::-webkit-scrollbar {
  background-color: var(--soft-orange);
  height: 3px;
}
.cards-container--slider::-webkit-scrollbar-thumb {
  background-color: var(--bitcoin-orange);
}
/* Footer */
footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
  align-items: center;
}
footer section {
  display: flex;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-content: center;
}
footer .left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  list-style: none;
}
footer .left li a {
  text-decoration: none;
  color: var(--white);
}
footer .right img {
  width: 80px;
  height: 80px;
}
